body{
  background: red;
  min-width: 300px;
  display: flex;
  flex-wrap: wrap;
}

/* #fenetre{
  width: 320px;
  margin-left: 20px;
  margin-top:20px;
  margin-bottom:20px;
  padding:10px;
  border-radius: 20px;
} */

h5{
  color:blue;
  font-family: sans-serif; /* Sans bouts courbus sur chaque lettre.*/
  text-align: center;
  text-transform: uppercase; /*transforme en majuscule toutes les lettres*/
}

/* h6{
  color:green;
  font-family: sans-serif; // Sans bouts courbus sur chaque lettre.
  text-align: center;
} */
